@import 'colours';

* {
  all: unset;
  font-family: 'RobotoMono Nerd Font';
}

.statusbar {
  background-color: rgba($base00, 1);
  margin: 5px;
  border-radius: 3px;
}

.container {
  border-radius: 5px;
  background-color: $base00;
}

.separator {
  color: rgba($base00, 0)
}

.container-inner {
  padding-left: 5px;
  padding-right: 5px;
}

.clickable:hover {
  background-color: $base01;
}

.popup {
  background-color: $base00;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid $base03;
  padding: 5px;
  color: $base05;
}

.popup>.row {
  background-color: $base01;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

@import 'style/powermenu';
@import 'style/workspaces';
@import 'style/current';
@import 'style/visualizer';
@import 'style/music';
@import 'style/todo';
@import 'style/system';
@import 'style/audio';
@import 'style/notifications';
@import 'style/clock';
