@import '../colours';

.clock-widget {
  font-size: 20px;
  color: $base05;
  margin-left: 5px;
  margin-right: 5px;
}

.clock-hour {
  font-weight: bold;
}

.clock-date {
  margin-right: 10px;
  font-style: italic;
  color: $base05;
  font-size: 18px;
}

.popup>.row>.time {
  color: $base0C;
  font-weight: bold;
  font-size: 40px;
}

.cal {
  font-size: 18px;
  padding: 4px;

  .cal-in {
    color: $base05;

    .cal {
      padding: 5px;
    }
  }
}

calendar:selected {
  color: $base00;
  background-color: $base0D;
}

calendar.header {
  color: $base08;
}

calendar.button {
  color: $base08;
}

calendar.button:hover {
  color: $base0D;
  background-color: $base04;
}

calendar.highlight {
  color: $base0D;
}

calendar:indeterminate {
  color: $base03;
}

.current-weather {
  .weather-icon {
    margin: -15px;
  }

  .temperature {
    .text, .icon{
      font-weight: bold;
      font-size: 30px;
    }
    .text {
      margin-left: 10px;
    }
    .icon {
      margin-left: 10px;
      color: $base09;
    }
  }

  .description {
    margin-left: 10px;
    color: $base0C;
  }

  .wind-speed {
    margin-top: 10px;
  }
}

.weather-separator {
  border: 1px solid $base03;
  margin-top: 20px;
  margin-bottom: 20px;
}
